html, body {
	margin: 0;
	height: 100%;
	overflow: hidden;
}

* {
	font-family: Trebuchet, "Trebuchet MS", sans-serif;
	color: #431DA3;
}

*:focus {
	outline: none;
}

body {
	background-image: url("images/sky1.jpg");
}

#wrapper {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#container {
	margin: auto;
	width: 400px;
	background-color: #68BDFF;
	background-size: cover;
	padding: 25px;
	text-align: center;
	height: auto;
}

.row {
	width: 100%;
	height: auto;
	display: flex;
	/* align-items: left; */
    justify-content: space-around;
    /* flex-wrap: wrap; */
	/* order: 2; */
	flex-direction: row;
}

.row a {
	width: 48%;
	min-height: 64px;
}

button {
	width: 100%;
	padding: 10px;
	background-color: #B2349C;
	border: none;
	color: #ffffff;
	height: 100%;
	cursor: pointer;
}

button:hover {
	background-color: #7F1EA3;
}

button:active {
	background-color: #431DA3;
}

img {
	width: 400px;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
	color: #B2349C;
}

@media only screen and (max-width: 600px)  {
	#container {
		width: 300px;
	}
	img {
		width: 300px;
	}
}

@media only screen and (max-width: 400px)  {
	#container {
		width: 200px;
	}
	img {
		width: 200px;
	}
}
